<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script>const session_username = "{{username}}"</script>
    <script defer src="/static/main.js">
    </script>
    <title>Password Manager</title>
</head>

<body class="dashboard">

     <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img src="static/PMLogo.jpg" alt="PwdManager Logo">
            </a>
            <div class="collapse navbar-collapse d-flex" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">Log&nbsp;Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="dashboard__heading">
        Welcome, <span class="dashboard__user--name">{{user}}</span>
    </h1>

    <div class="dashboard__main">
        <div class="dashboard__main--center">
            <ul class="dashboard__buttons">
                <li class="dashboard__button btn--zero" id="dashboard-button">Dashboard</li>                <li class="dashboard__button btn--one active">Generate Password</li>
                <li class="dashboard__button btn--two">View All Passwords</li>
                <li class="dashboard__button btn--three">Search Password</li>
            </ul>
        </div>

        <div class="dashboard__main--right">
            <div class="dashboard__generate--password">
                <form action="/save_pass" class="save__pass" method="post">
                    <input type="text" class="gen--website textfield_ph" placeholder="Website Name" required>
                    <input type="text" class="gen--username textfield_ph" placeholder="Username / Email" required>
                    <input type="text" class="gen--pass textfield_ph" placeholder="Password" required>
                    <button type="button" class="generate_button" id="generate">Generate</button>
                    <div class="password-options">
                        <input type="number" class="password-length textfield_ph" placeholder="8" min="6" max="20">
                        <input type="checkbox" class="password-uppercase textfield_ph"> Uppercase
                        <input type="checkbox" class="password-numbers textfield_ph"> Numbers
                        <input type="checkbox" class="password-symbols textfield_ph"> Symbols
                    </div>
                    <button class="savePwd_button" type="submit">Save Password</button>
                    <p class="success__message"></p>
                </form>
            </div>
        </div>

        <div id="password-list" style="display: none;">
            <!-- Passwords will be inserted here -->
        </div>
    </div>

</body>

</html>