<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>EVault Password Manager</title>
</head>

<body class="home--body">
    <nav class="nav">
        <figure class="nav__logo">
            <a href="{{url_for('home')}}">
                <img src="static/PMLogo.png" alt="PwdManager Logo" />
            </a>
        </figure>
        <div class="nav__buttons">
            <a href="{{url_for('login')}}" class="nav__login">log in</a>
            <a href="{{url_for('register')}}" class="nav__register">register</a>
        </div>
    </nav>
    <main class="main">
        <figure class="main__image">
            <img src="static/login_gif.gif" alt="login.gif">
        </figure>
        <div class="main__wrapper">
            <p class="main__paragraph">
                Have trouble remembering your passwords?
                It's hard for you to make a strong password?
                Let this Password Manager help you!
            </p>
            <div class="main__button">
                <a href="{{url_for('register')}}" class="nav__register">register now</a>
            </div>
        </div>
    </main>
</body>

</html>