<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

    <title>Password Manager</title>
</head>

<body class="registration">

     <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img src="static/PMLogo.jpg" alt="PwdManager Logo">
            </a>
            <div class="collapse navbar-collapse d-flex" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">Log&nbsp;In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="registration__heading">Account Registration</h1>

    <form action="/register" class="registration__form" method="post">
        <p class="register_error"> {{error_message if error_message else '' }} </p>
        <input type="text" class="textfield_ph" name="register--name" placeholder="Name" required />
        <input type="email" class="textfield_ph" name="register--email" placeholder="Email" required />
        <input type="text" class="textfield_ph" name="register--username" placeholder="Username" required />
        <input type="password" class="textfield_ph" name="register--password" placeholder="Password" required />
        <input type="password" class="textfield_ph" name="register--confirm-password" placeholder="Confirm Password" required />
        <button type="submit" class="nav__register">Register</button>
        <p>Already have an account? <a href="{{url_for('login')}}">Log In</a></p>
    </form>

    <script>
        const error_message = document.querySelector('.register_error')
        setTimeout(() => {
            error_message.textContent = ''
        }, 5000)

    </script>
</body>

</html>